# SPDX-FileCopyrightText: 2025 shiyou(t1c) and all contributors
#
# SPDX-License-Identifier: MIT

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out

# other
.sconsign.dblite
.vscode
.import/
*.import
default_env.tres.tmp
